<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= emailTitle %></title>
</head>
<body>
    <div class="container">
        <div class="header">
            <% let headerImage = 'public/organization/2023-08-21/dat-logo-1692613288931.png';
            if(typeof submissionBy !== "undefined" && submissionBy && submissionBy.logo){
            headerImage = submissionBy.logo
            }
            %>
            <a href="https://datconsultancy.com" target="_blank"><img class="logo" src="<%= process.env.IMAGE_CDN_URL + headerImage %>" /></a>
        </div>
        <div class="welcome-banner">
            <%= emailTitle %>
        </div>