<%- include("layout/email-header") -%>
<style>

    .message-container {
        display: block;
        margin: 10px auto;
        min-height: 300px;
        padding: 20px 15px;
    }

    .otp-block{
        text-align: center;
        display: block;
        font-size: 32px;
        font-weight: 600;
        color: rgb(19, 119, 72);
        letter-spacing: 5px;
    }

    .text{
    color: rgba(89, 89, 89, 1);
    font-size: 14px;
    margin: 0;
    line-height: 1.8;
    font-weight: unset;
    }
</style>
<div class="message-wrapper">
    <div class="message-container">
        <p class="text">Hi <%= firstName %>,</p>
        <p class="text">Your Yallah Property verification code is</p>
        <p class="otp-block">
            <%= otpCode %>
        </p>

        <p class="text">Don't share this code with anyone; our employees will never ask for the code. If you did not request this email you can safely ignore it.</p>
    </div>
</div>
<%- include("layout/email-footer") -%>